<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <style>
        .flash-message {
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
        .flash-message.error {
            background-color: #ffdddd;
            color: #d8000c;
            border: 1px solid #d8000c;
        }
    </style>
</head>
<body>
    <h1>Add User</h1>

    <!-- Flash Message -->
     {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.add_user') }}" method="post">
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br><br>

        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="{{ url_for('auth.index') }}">Go Back to Homepage</a>
</body>
</html>
