{% extends "base.html" %}

{% block title %}{{ dish.dish_name }} @ {{ dish.restaurant_name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dish_detail.css') }}">
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"-->
{% endblock %}

{% block content %}
<script src ="{{ url_for('static', filename='js/toggle_save.js')}}"></script>

<div class ="dish-detail">
    <div class="header-images">
        <img src="{{ url_for('static', filename=dish.image) }}" alt = "{{ dish.name }}">
        <button class="back-button" onclick="window.history.back()">
            <i class="fas fa-chevron-left"></i>
        </button>
    </div>

    <div class = "dish-title">
        <div class="dish-name-and-allergens">
            <h2>{{ dish.dish_name }}</h2>
            <p>
            {% for a in dish.allergens %}
                {% if a == 'dairy' %}
                    <img src="{{ url_for('static', filename='images/dishes/allergens/dairy.png') }}" alt="Dairy" title="Dairy">
                {% elif a == 'nuts' %}
                    <img src="{{ url_for('static', filename='images/dishes/allergens/nut.png') }}" alt="Nuts" title="Nuts">
                {% elif a == 'gluten' %}
                    <img src="{{ url_for('static', filename='images/dishes/allergens/gluten.png') }}" alt="Gluten" title="Gluten" >
                {% elif a == 'egg' %}    
                    <img src="{{ url_for('static', filename='images/dishes/allergens/eggs.png') }}" alt="Eggs" title="Eggs" >
                {% elif a == 'fish' %}    
                    <img src="{{ url_for('static', filename='images/dishes/allergens/fish.png') }}" alt="Fish" title="Fish" >
                {% elif a == 'shellfish' %}    
                    <img src="{{ url_for('static', filename='images/dishes/allergens/shellfish.png') }}" alt="Shellfish" title="Shellfish" >
                {% elif a == 'nut' %}    
                    <img src="{{ url_for('static', filename='images/dishes/allergens/nut.png') }}" alt="Nuts" title="Nuts" >
                {% elif a == 'peanut' %}    
                    <img src="{{ url_for('static', filename='images/dishes/allergens/peanut.png') }}" alt="Peanuts" title="Peanuts" >
                {% elif a == 'soy' %}    
                    <img src="{{ url_for('static', filename='images/dishes/allergens/soy.png') }}" alt="Soy" title="Soy" >
                {% else %}
                    <!-- If no specific image is found for the allergen, you can just display text or a default image -->
                    <span>{{ a }}</span>
                {% endif %}
            {% endfor %}
            </p>

        </div>
        
        <span class="dish-match">{{ dish.match_score }}% Match</span>

    </div>
    
    <div class="dish-info">       
        <div class="description">        
            <div class="star-rating">
                <p>Average Rating:<span style="color: rgba(255, 196, 0, 0.822);">
                {% set full = dish.average_rating|int %}
                {% set half = dish.average_rating - full %}
                {% if half >= 0.5 %}
                    {% set half = 1 %}
                {% else %}
                    {% set half = 0 %}
                {% endif %}
                {% set empty = 5 - full - half %}

                {% for _ in range(full) %}
                    <i class = "fas fa-star"></i>
                {% endfor %}

                {% for _ in range(half) %}
                    <i class = "fas fa-star-half-alt"></i>
                {% endfor %}

                {% for _ in range(empty) %}
                    <i class = "far fa-star"></i>
                {% endfor %}
                </span>
                {{ dish.average_rating }} 
            </div> </p>
            <p>{{ dish.description }}</p>
            <p class="cost">${{ dish.price }} Each </p>
            
            <!--p Restrictions: 
            {% for r in dish.restrictions %}
                {{ r }}
            {% endfor %}
            <p>
            Currently Available: {{ dish.available }}</p Save for later-->
        </div>
    </div>

    <section class = "reviews">
        <h2>What taste buddies say:</h2><br>
        {% for rev in dish.reviews %}
            <div class="feed-item">
                <span class="friend">{{ rev.user_name }}</span><br>
                <div class="feed-content">   
                    <img src="{{ url_for('static', filename=rev.user_icon) }}" alt="{{ rev.user_name }}" style="width: 75px; height: 75px">
            
                    <div class="review-bubble">                
                            <span>Rated:
                            <div class="star-rating">
                                {% set full = rev.rating|int %}
                                {% set empty = 5 - full %}

                                {% for _ in range(full) %}
                                    <i class = "fas fa-star"></i>
                                {% endfor %}

                                {% for _ in range(empty) %}
                                    <i class = "far fa-star"></i>
                                {% endfor %}                    
                            </div></span>
                        <p>{{ rev.content }}</p>
                        <p>{{ rev.time_stamp }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section> 

    
    <div class="horizontal-separator"></div>
    <div class="dish-footer">         
        <a href = "{{ url_for('restaurant.restaurant_detail', restaurant_id=dish.restaurant_id) }}" class = "contact-details">
            <div class="contact-details">
                <h3> {{ dish.restaurant_name }}</h3>
                <p> {{ dish.restaurant_address }}</p>
            </div>
        </a>
        

        <div class="vertical-separator"></div>
        
        <div class="dish-save" onclick ="toggleSave(this, {{dish.dish_id}})">
            {% if dish.is_saved %}
                <i class="fas fa-bookmark saved"></i>
                <p class="saved"> Saved dish</p>
            {% else %}
                <i class="far fa-bookmark not-saved"></i>
                <p class="not_saved"> Save dish</p>
            {% endif %}    
        </div>    
    </div>
</div>
{% endblock %} 