{% extends "base.html" %}

{% block title %}Group Matching{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/groupMatch.css') }}">
{% endblock %}

{% block content %}
<div class="group-match-container">
    <div class="header-images">
        <img src="{{ url_for('static', filename= 'images/restaurant/default.jpg') }}" alt = " Placeholder ">
    </div>
    <div class = "title-bar">
        <div class="restaurant-title">{{ restaurants[index].restaurant_name }}</div>
        <div class="team-title">Active Group</div>
    </div>
    <div class = "match-cost">
        <div class="match">% Match</div>
        <div class="cost" style="text-align: right;">~ $ Price per Entree</div>
    </div>
    <div class ="separator"></div>

    <div class = "group-details">
        <h3> Why your party would like it: </h3>
        <!--{% for user in party %}
            <div class = "user-dish">
                - { dish } for { user }
            </div>
        {% endfor %} FOR ACTUAL IMPLEMENTATION BELOW IS FOR SAMPLING-->
        <div class = "user-dish">
            - Dish for User (looped)
        </div>
    </div>

    <div class = "separator"></div>

    <div class = "restaurant-details">
        <div class = "contact-details">
            <h3> {{ restaurants[index].restaurant_name }}</h3>
            <p>{{ restaurants[index].location }}</p>
        </div>

        <div class = "vertical-separator"></div>
        <a href="tel:+1{{ restaurants[index].phone_number }}" style="text-decoration:none; color: inherit;">
            <div class = "phone">
                <i class="fa-solid fa-phone"></i></div>
        </a>
    </div>




<div class="navigation-buttons">
    <a href="{{ url_for('daily_dish.navigate_restaurant', index=(restaurants|length - 1 if index == 0 else index - 1)) }}" class="nav-button back-button">
        <button type="button">
            <i class="fa-solid fa-arrow-left" style="color:white;"></i> 
        </button>
    </a>
    <a href="{{ url_for('daily_dish.navigate_restaurant', index=0 if index == (restaurants|length - 1) else index + 1) }}" class="nav-button forward-button">
        <button type="button">
            <i class="fa-solid fa-arrow-right" style="color:white;"></i> 
        </button>
    </a>
</div>

   <div class="restaurant-list">
   <ul>
   {% for restaurant in restaurants %}
   <li>
    <p> Restaurant Name: {{restaurant.restaurant_name}}<br>
    Average Price: {{restaurant.average_price}}<br>
    WeightedScore: {{restaurant.weightedScores}}<br>
    Match Confidence: {{restaurant.confidence}}</p>
</li>
    {% endfor %}
</ul>
</div>
{% endblock %} 