<!DOCTYPE html>
<html>
<head>
    <title>TasteBuddies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="TasteBuddies Logo">
    </div>
    <h1>Hello, {{user.username}}!</h1>
    <div class="footer"></div>
    <h1>Welcome to TasteBuddies</h1>
    <p>Click the button below to add a new user to the database:</p>
    <a href="{{ url_for('addUserPage') }}">
        <button>Add User</button>
    </a>
</body>
</html>