<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login - TasteBuddies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="TasteBuddies Logo" class ="logo" />
        <h1>Welcome to TasteBuddies!</h1>
        <form action="/login" method="post" class="login-form">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/add_user">Create one!</a></p>
    </div>
</body>
</html>