{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="taste-profile-container">
    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
    
    <div class="profile-icon">
        {% if user.icon_path %}
            <img src="{{ url_for('static', filename=user.icon_path) }}" 
                 alt="It's You!"
                 style="width: 150px; height: 150px;">
        {% else %}
            <img src="{{ url_for('static', filename='images\profile_icons\default1.png') }}" 
                 alt="Default Icon"
                 style="width: 150px; height: 150px">
        {% endif %}
    </div>

    <div class="intro-section">
        <p>Your email: {{ user.email }}</p>
        <p>Explore your taste matches and reviews.</p>

       <div class="button-group">
            <a href="{{ url_for('profile.matches_page') }}">
                <button class="btn-matches">View Taste Matches</button>
            </a>
        </div> 
        
        <p></p>

        <div class="button-group">
            <a href="{{ url_for('auth.logout') }}">
                <button class="logout-btn">Logout</button>
            </a>
        </div>

        <p></p>

        <form action="{{ url_for('profile.delete_profile') }}" method="POST" 
            onsubmit="return confirmDeletion('{{ user.email }}');">
            <div class="button-group">
                <button type="submit" class="delete-btn">Delete Profile</button>
            </div>
        </form>

        <h2>Your Friends</h2>
        {% for friend in friendsList %}
            {% if friend.icon_path %}
                <img src="{{ url_for('static', filename=friend.icon_path) }}" 
                     alt="It's You!"
                     style="width: 25px; height: 25px;">
            {% else %}
                <img src="{{ url_for('static', filename='images\profile_icons\default1.png') }}" 
                     alt="Unknown"
                     style="width: 25px; height: 25px">
            {% endif %}
            <span class="friend-name">{{ friend.first_name }} {{ friend.last_name }}</span>
            <br>
        {% endfor %}
        
    </div>
</div>


<script>

function confirmDeletion(email) {
    return confirm(`Are you sure? Deleting ${email} can't be undone.`);
}
</script>

{% endblock %}