{% extends "base.html" %}

{% block title %}Norm's Corner{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/restaurant_detail.css') }}">
{% endblock %}

{% block content %}
<div class="restaurant-detail">
    <div class="header-images">
        <!--img src="{{ url_for('static', filename='images/restaurant-header.jpg') }}" alt="Restaurant ambiance" -->
        <button class="back-button">
            <i class="fas fa-chevron-left"></i>
        </button>
    </div>

    <div class="restaurant-info">
        <h1>Norm's Corner</h1>
        <p class="category">Casual Dining</p>
        <p class="hours">Open hours: {{ restaurant.open_hours }}</p>
        <button class="update-button">
            Post Update <i class="fas fa-bullhorn"></i>
        </button>
    </div>

    <section class="recommendations">
        <h2>Recommended for You:</h2>
        <div class="dishes-grid">
            
            <!--for loop for the dishes-->
            {% for dish in restaurant.dishes %}
            <div class="dish-card">
                <img src="{{ dish.image_url }}" alt="dish.name">
                <div class="dish-info">
                    <h3>{{ dish.name }}</h3>
                    <span class="match">{{dish.match_percentage}} </span>
                    <p class="price">{{ dish. price }} USD/Each </p>
                </div>
            </div>
            {% endfor % }

        </div>
    </section>

    <section class="about">
        <div class="section-header">
            <h2>About the restaurant</h2>
            <button class="show-detail">Show Detail</button>
        </div>
        <p class="description">
            {{ Restaurant.details }}
        </p>
    </section>
</div>
{% endblock %} 