{% extends "base.html" %}

{% block title %}{{ restaurant.name }}r{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/restaurant_detail.css') }}">
{% endblock %}

{% block content %}
<div class="restaurant-detail">
    <div class="header-images">
        <img src="{{ url_for('static', filename=restaurant.image_path) }}" alt="Restaurant ambiance" >
        <button class="back-button" onclick="window.history.back()">
            <i class="fas fa-chevron-left"></i>
        </button>
    </div>

    <div class="restaurant-info">
        <h2>{{ restaurant.restaurant_name }}</h2>
        <!--p class="category">Casual Dining</p>-->
        <p class="hours">Open hours: <br>{{ restaurant.hours | safe }}</p>
        <button class="update-button">
            Post Update <i class="fas fa-bullhorn"></i>
        </button>
    </div>

    <section class="recommendations">
        <h2>Recommended for You:</h2>
        <div class="dishes-grid">
            
            <!--for loop for the dishes, but only first two here-->
            {% for dish in restaurant.dishes[:2] %}
            <div class="dish-card">
                <img src="{{ url_for('static', filename=dish.image_url) }}" alt="dish.name">
                <div class="dish-info">
                    <h3>{{ dish.name }}</h3>
                    <p class="dish-match">{{ dish.match_percentage }}% </span>
                    <p class="dish-price">{{ dish. price }} USD/Each </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>

    <section class="about">
        <div class="section-header">
            <h2>About the restaurant</h2>
            <button class="show-detail">Show Detail</button>
        </div>
        <p class="description">
            {{ restaurant.description }}
        </p>
        <section class="contact">
            <div class="separator"></div>
            <div class="contact-details">
                <div class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>    {{ restaurant.location }}</p>
                </div>
                <div class="separator"></div>
                <div class="contact-item">
                    <i class="fas fa-phone-alt"></i>
                    <p>    {{ restaurant.phone_number }}</p>
                </div>
            </div>
        </section>
        
    </section>

    
</div>
{% endblock %} 