{% extends "base.html" %} {% block title %}TasteBuds{% endblock %} {% block
  extra_css %}
  
  
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/TasteBuds.css') }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {% endblock %}
  
  
  {% block content %}
  <script src ="{{ url_for('static', filename='js/toggleBuddies.js')}}"></script>
  
  
  <div class="TasteBuds-container">
    <h1>TasteBuddies</h1>
    <!-- Flash Error for User Not Found login -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash-message {{ category }}">{{ message }}</div>
    <br />
    {% endfor %} {% endif %} {% endwith %}
  
  
    <div class="search-bar">
      <form
        name="Search TasteBuddies"
        action="{{ url_for('auth.searchUser')}}"
        method="post"
      >
        <div class="search-container">
          <i class="fas fa-magnifying-glass"></i>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="Find a buddy"
          />
          <button type="submit" class="search-btn">Search</button>
        </div>
      </form>
    </div>
  
  
    
<!--h3>Active Group</h3>
        <ul>
          {% for member in activeGroup %}
          <li>{{ member.first_name }} {{ member.last_name }}</li>
          {% endfor %}
        </ul>
        {% for reccomendations in reccomendations %}
        <li>{{reccomendations}} </li>
        {% endfor %}
        <button type="submit">Find a Restaraunt for Active Group</button>
      </form>
    </div>
    </div-->


    <div id="super-buddies" class="buddies-section">
      <div class="buddies-header" onClick="toggleSuperBuddies()">Super TasteBuddies
        <i class="fas fa-chevron-down" id="buddies-chevron"></i>
      </div>
   
      <div class="buddies-list">
        <!--These are hardcoded Superbuddies-->
          <div class="buddy">
            <img src="{{ url_for('static', filename='images/profile_icons/julia.png') }}" style="width: 25px; height: 25px; padding-right: 5px;">
            <span class="user-name">Julia Child</span>
            <span class="follow-btn" onclick="toggleFollow(this)" data-user-id="10"> <!-- not sure if this is Julia Child, wild guess--->
              <i class="bi bi-plus-circle"></i>
            </span>
          </div>
          <div class="buddy">
            <img src="{{ url_for('static', filename='images/profile_icons/bourdain.png') }}" style="width: 25px; height: 25px; padding-right: 5px;">
            <span class="user-name">Anthony Bourdain</span>
            <span class="follow-btn" onclick="toggleFollow(this)" data-user-id="9">
              <i class="bi bi-plus-circle"></i>
            </span>
          </div>
          <div class="buddy">
            <img src="{{ url_for('static', filename='images/profile_icons/ramsay.png') }}" style="width: 25px; height: 25px; padding-right: 5px;">
            <span class="user-name">Gordon Ramsay</span>
            <span class="follow-btn" onclick="toggleFollow(this)" data-user-id="8">
              <i class="bi bi-plus-circle"></i>
            </span>
          </div>
      </div>  
    </div>




    <div id="taste-buddies" class="buddies-section">
      <div class="buddies-header" onClick="toggleTasteBuddies()">TasteBuddies
        <i class="fas fa-chevron-down" id="buddies-chevron"></i>
      </div>
   
      <div class="buddies-list">
        {% for match in matches %}
          <div class="buddy">
            <img src="{{ url_for('static', filename=match.icon_path) }}" style="width: 25px; height: 25px; padding-right: 5px;">
            <span class="user-name">{{ match.first_name}} {{ match.last_name }}</span>
            <span class="follow-btn" onclick="toggleFollow(this)" data-user-id= "{{ data.user_id }}">
              <i class="bi bi-plus-circle"></i>
            </span>
          </div>
          {% endfor %}
      </div>  
    </div>


    <div id="regular-buddies" class="buddies-section">
      <div class="buddies-header" onClick="toggleRegularBuddies()">Buddies
        <i class="fas fa-chevron-down" id="buddies-chevron"></i>
      </div>
      <div class="buddies-list">
        {% for friend in friendslist %}
          <div class="buddy">
            <img src="{{ url_for('static', filename=friend.icon_path) }}" style="width: 25px; height: 25px; padding-right: 5px;">
            <span class="user-name">{{ friend.first_name}} {{ friend.last_name }}</span>
            <span class="follow-btn" onclick="toggleFollow(this)" data-user-id= "{{ friend.user_id }}">
              <i class="bi bi-plus-circle"></i>
            </span>
          </div>
          {% endfor %}
      </div>  
    </div>
   
   


    {% endblock %}
  </div>
</div>
    