{% extends "base.html" %} {% block title %}Restaurants{% endblock %} {% block
extra_css %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/TasteBuds.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
{% endblock %} {% block content %}

<div class="TasteBuds-container">
  <!-- Flash Error for User Not Found login -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="flash-message {{ category }}">{{ message }}</div>
  <br />
  {% endfor %} {% endif %} {% endwith %}

  <div class="search-bar">
    <form
      name="Search TasteBuddies"
      action="{{ url_for('auth.searchUser')}}"
      method="post"
    >
      <div class="search-container">
        <i class="fas fa-magnifying-glass"></i>
        <input
          type="text"
          name="userName"
          id="userName"
          placeholder="Find a buddy"
        />
        <button type="submit" class="search-btn">Search</button>
      </div>
    </form>
  </div>

  <div class="filter-section">
    <div class="filter-row">
      <select class="filter-dropdown">
        <option value="">Super TasteBuddies</option>
      </select>
    </div>
    <div class="filter-section">
      <div class="filter-row">
        <select class="filter-dropdown">
          <option value="">TasteBuddies</option>
        </select>
      </div>

      <form action="{{url_for('daily_dish.createGroup')}}" method="post">
        <div class="filter-section">
          <div class="filter-row">
            <select class="filter-dropdown" name="selectedFriends" multiple>
              <option value="">Buddies</option>
              {% for friend in friendslist %}
              <option value="{{friend.user_id}}">
                {{ friend.first_name }} {{ friend.last_name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <h3>Active Group</h3>
        <ul>
          {% for member in activeGroup %}
          <li>{{ member.first_name }} {{ member.last_name }}</li>
          {% endfor %}
        </ul>
        {% for reccomendations in reccomendations %}
        <li>{{reccomendations}} </li>
        {% endfor %}
        <button type="submit">Find a Restaraunt for Active Group</button>
      </form>
    </div>

    {% endblock %}
  </div>
</div>
