{% extends 'base.html' %} {% block title %}Profile{% endblock %} {% block
content %}
<h2>{{ user.first_name }} {{ user.last_name }}!</h2>
<p>Email: {{ user.email }}</p>

<form action="{{ url_for('auth.addFriend', user_id=user.user_id) }}" method="post">
  <button type="submit">Add Buddy</button>
</form>

<p>
  <a href="{{ url_for('daily_dish.TasteBuds') }}">
      <button>Go Back</button>
  </a>
</p>

<!-- Flash Message for Friend added or Already Friends -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="flash-message {{ category }}">{{ message }}</div>
<br />
{% endfor %} {% endif %} {% endwith %} {% endblock %}
