{% extends 'base.html' %} 

{% block title %}User Search Results{% endblock %} 

{% block content %}
<div class="taste-profile-container">
  <h2>{{ matches|length }} Matches found</h2>

  {% for match in matches %}
    <a href="{{ url_for('profile.viewUserSearchResults', user_id=match.user_id) }}" class="match-card"> 
      <div class="match-icon">
        <img src="{{ url_for('static', filename=match.icon_path) }}"
          alt="User Icon"
          class="user-icon">
      </div>
      <div class="match-info">
        <h3>{{ match.first_name }} {{ match.last_name }}</h3>
      </div>
    </a>
  {% endfor %}
  
  <p>
    <a href="{{ url_for('daily_dish.TasteBuds') }}">
        <button>Go Back</button>
    </a>
  </p>
</div>

<style>
  .match-card {
      display: flex;
      align-items: center;
      text-decoration: none;
      background-color: var(--white);
      border: 1px solid var(--gray-medium);
      border-radius: 8px;
      padding: 15px;
      margin: 10px 0;
      color: var(--slate-dark);
  }
  
  .match-card:hover {
      background-color: var(--gray-light);
  }
  
  .match-icon {
      flex-shrink: 0;
      margin-right: 15px;
  }
  
  .user-icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
  }
  
  .match-info h3 {
      margin: 0;
      font-size: 20px;
  }
  
  .match-info p {
      margin: 4px 0 0;
      font-size: 14px;
      color: var(--slate-light);
  }
  </style>
{% endblock %}